html,
body {
    font-size: 0.9em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6600;
    border-bottom: 3px solid #585858;
    margin: 0;
    padding-left: 0.5rem;
    white-space: nowrap;
}

.options {
    padding: 0.5rem;
    font-size: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#shortcutInput {
    flex: 1;
}

#footnote {
    font-size: 0.8rem;
    color: #585858;
    font-style: italic;
}